ws/src/main/resources/org/syphr/mythtv/ws/backend/wsdl/_0_25/LabelValue.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org" attributeFormDefault="unqualified" xmlns:tns="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="LabelValue">
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="Label"/>
<xs:element minOccurs="0" type="xs:string" name="Value"/>
<xs:element minOccurs="0" type="xs:string" name="Description"/>
<xs:element minOccurs="0" type="xs:boolean" name="Active"/>
<xs:element minOccurs="0" type="xs:boolean" name="Selected"/>
</xs:sequence>
</xs:complexType>
<xs:element type="tns:LabelValue" nillable="true" name="LabelValue"/>
</xs:schema>
