ws/src/main/resources/org/syphr/mythtv/ws/backend/wsdl/_0_25/VideoSourceList.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org" attributeFormDefault="unqualified" xmlns:tns="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="ArrayOfVideoSource.xsd"/>
<xs:complexType name="VideoSourceList">
<xs:sequence>
<xs:element minOccurs="0" type="xs:dateTime" nillable="1" name="AsOf"/>
<xs:element minOccurs="0" type="xs:string" name="Version"/>
<xs:element minOccurs="0" type="xs:string" name="ProtoVer"/>
<xs:element minOccurs="0" type="tns:ArrayOfVideoSource" name="VideoSources"/>
</xs:sequence>
</xs:complexType>
<xs:element type="tns:VideoSourceList" nillable="true" name="VideoSourceList"/>
</xs:schema>
