ws/src/main/resources/org/syphr/mythtv/ws/backend/wsdl/_0_25/VideoMultiplexList.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org" attributeFormDefault="unqualified" xmlns:tns="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="ArrayOfVideoMultiplex.xsd"/>
<xs:complexType name="VideoMultiplexList">
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="StartIndex"/>
<xs:element minOccurs="0" type="xs:int" name="Count"/>
<xs:element minOccurs="0" type="xs:int" name="CurrentPage"/>
<xs:element minOccurs="0" type="xs:int" name="TotalPages"/>
<xs:element minOccurs="0" type="xs:int" name="TotalAvailable"/>
<xs:element minOccurs="0" type="xs:dateTime" nillable="1" name="AsOf"/>
<xs:element minOccurs="0" type="xs:string" name="Version"/>
<xs:element minOccurs="0" type="xs:string" name="ProtoVer"/>
<xs:element minOccurs="0" type="tns:ArrayOfVideoMultiplex" name="VideoMultiplexes"/>
</xs:sequence>
</xs:complexType>
<xs:element type="tns:VideoMultiplexList" nillable="true" name="VideoMultiplexList"/>
</xs:schema>
