ws/src/main/resources/org/syphr/mythtv/ws/backend/wsdl/_0_25/VideoLookup.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org" attributeFormDefault="unqualified" xmlns:tns="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="ArrayOfArtworkItem.xsd"/>
<xs:include schemaLocation="ArrayOfString.xsd"/>
<xs:complexType name="VideoLookup">
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="Title"/>
<xs:element minOccurs="0" type="xs:string" name="SubTitle"/>
<xs:element minOccurs="0" type="xs:int" name="Season"/>
<xs:element minOccurs="0" type="xs:int" name="Episode"/>
<xs:element minOccurs="0" type="xs:int" name="Year"/>
<xs:element minOccurs="0" type="xs:string" name="Tagline"/>
<xs:element minOccurs="0" type="xs:string" name="Description"/>
<xs:element minOccurs="0" type="xs:string" name="Certification"/>
<xs:element minOccurs="0" type="xs:string" name="Inetref"/>
<xs:element minOccurs="0" type="xs:string" name="Collectionref"/>
<xs:element minOccurs="0" type="xs:string" name="HomePage"/>
<xs:element minOccurs="0" type="xs:dateTime" nillable="1" name="ReleaseDate"/>
<xs:element minOccurs="0" type="xs:float" name="UserRating"/>
<xs:element minOccurs="0" type="xs:int" name="Length"/>
<xs:element minOccurs="0" type="xs:string" name="Language"/>
<xs:element minOccurs="0" type="tns:ArrayOfString" name="Countries"/>
<xs:element minOccurs="0" type="xs:int" name="Popularity"/>
<xs:element minOccurs="0" type="xs:int" name="Budget"/>
<xs:element minOccurs="0" type="xs:int" name="Revenue"/>
<xs:element minOccurs="0" type="xs:string" name="IMDB"/>
<xs:element minOccurs="0" type="xs:string" name="TMSRef"/>
<xs:element minOccurs="0" type="tns:ArrayOfArtworkItem" name="Artwork"/>
</xs:sequence>
</xs:complexType>
<xs:element type="tns:VideoLookup" nillable="true" name="VideoLookup"/>
</xs:schema>
