ws/src/main/resources/org/syphr/mythtv/ws/frontend/wsdl/_0_25/FrontendStatus.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org" attributeFormDefault="unqualified" xmlns:tns="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="ArrayOfString.xsd"/>
<xs:include schemaLocation="MapOfStringString.xsd"/>
<xs:include schemaLocation="MapOfStringTrack.xsd"/>
<xs:complexType name="FrontendStatus">
<xs:sequence>
<xs:element minOccurs="0" type="tns:MapOfStringString" name="State"/>
<xs:element minOccurs="0" type="tns:ArrayOfString" name="ChapterTimes"/>
<xs:element minOccurs="0" type="tns:MapOfStringTrack" name="SubtitleTracks"/>
<xs:element minOccurs="0" type="tns:MapOfStringTrack" name="AudioTracks"/>
</xs:sequence>
</xs:complexType>
<xs:element type="tns:FrontendStatus" nillable="true" name="FrontendStatus"/>
</xs:schema>
