http/src/main/wsdl/0.25/content.wsdl

<?xml-stylesheet type="text/xsl" href="/xslt/service.xslt"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mythtv.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mythtv.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" name="ContentServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<types>
<xs:schema targetNamespace="http://MythTV.org/Imports">
<xs:import namespace="http://mythtv.org" schemaLocation="ArrayOfString.xsd"/>
<xs:import namespace="http://mythtv.org" schemaLocation="ArtworkInfoList.xsd"/>
<xs:import namespace="http://mythtv.org" schemaLocation="LiveStreamInfo.xsd"/>
<xs:import namespace="http://mythtv.org" schemaLocation="LiveStreamInfoList.xsd"/>
</xs:schema>
<xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org">
<xs:element name="AddLiveStream">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="StorageGroup" nillable="1"/>
<xs:element minOccurs="0" type="xs:string" name="FileName" nillable="1"/>
<xs:element minOccurs="0" type="xs:string" name="HostName" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="MaxSegments" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Width" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Height" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Bitrate" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="AudioBitrate" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="SampleRate" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AddLiveStreamResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="tns:LiveStreamInfo" name="AddLiveStreamResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AddRecordingLiveStream">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="ChanId" nillable="1"/>
<xs:element minOccurs="0" type="xs:dateTime" name="StartTime" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="MaxSegments" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Width" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Height" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Bitrate" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="AudioBitrate" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="SampleRate" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AddRecordingLiveStreamResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="tns:LiveStreamInfo" name="AddRecordingLiveStreamResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AddVideoLiveStream">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="Id" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="MaxSegments" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Width" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Height" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Bitrate" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="AudioBitrate" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="SampleRate" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AddVideoLiveStreamResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="tns:LiveStreamInfo" name="AddVideoLiveStreamResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DownloadFile">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="URL" nillable="1"/>
<xs:element minOccurs="0" type="xs:string" name="StorageGroup" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DownloadFileResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:boolean" name="DownloadFileResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetAlbumArt">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="Id" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Width" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Height" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetAlbumArtResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="GetAlbumArtResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetFile">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="StorageGroup" nillable="1"/>
<xs:element minOccurs="0" type="xs:string" name="FileName" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetFileResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="GetFileResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetFileList">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="StorageGroup" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetFileListResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="tns:ArrayOfString" name="GetFileListResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetFilteredLiveStreamList">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="FileName" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetFilteredLiveStreamListResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="tns:LiveStreamInfoList" name="GetFilteredLiveStreamListResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetHash">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="StorageGroup" nillable="1"/>
<xs:element minOccurs="0" type="xs:string" name="FileName" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetHashResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="GetHashResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetImageFile">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="StorageGroup" nillable="1"/>
<xs:element minOccurs="0" type="xs:string" name="FileName" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Width" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Height" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetImageFileResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="GetImageFileResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetLiveStream">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="Id" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetLiveStreamResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="tns:LiveStreamInfo" name="GetLiveStreamResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetLiveStreamList">
<xs:complexType>
<xs:sequence/>
</xs:complexType>
</xs:element>
<xs:element name="GetLiveStreamListResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="tns:LiveStreamInfoList" name="GetLiveStreamListResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetMusic">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="Id" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetMusicResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="GetMusicResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetPreviewImage">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="ChanId" nillable="1"/>
<xs:element minOccurs="0" type="xs:dateTime" name="StartTime" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Width" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Height" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="SecsIn" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetPreviewImageResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="GetPreviewImageResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetProgramArtworkList">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="Inetref" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Season" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetProgramArtworkListResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="tns:ArtworkInfoList" name="GetProgramArtworkListResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetRecording">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="ChanId" nillable="1"/>
<xs:element minOccurs="0" type="xs:dateTime" name="StartTime" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetRecordingResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="GetRecordingResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetRecordingArtwork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="Type" nillable="1"/>
<xs:element minOccurs="0" type="xs:string" name="Inetref" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Season" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Width" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Height" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetRecordingArtworkResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="GetRecordingArtworkResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetRecordingArtworkList">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="ChanId" nillable="1"/>
<xs:element minOccurs="0" type="xs:dateTime" name="StartTime" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetRecordingArtworkListResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="tns:ArtworkInfoList" name="GetRecordingArtworkListResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetVideo">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="Id" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetVideoResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="GetVideoResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetVideoArtwork">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="Type" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Id" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Width" nillable="1"/>
<xs:element minOccurs="0" type="xs:int" name="Height" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetVideoArtworkResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="GetVideoArtworkResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="RemoveLiveStream">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="Id" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="RemoveLiveStreamResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:boolean" name="RemoveLiveStreamResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="StopLiveStream">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="Id" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="StopLiveStreamResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" type="tns:LiveStreamInfo" name="StopLiveStreamResult" nillable="1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</types>
<message name="Content_AddLiveStream_InputMessage">
<part element="tns:AddLiveStream" name="parameters"/>
</message>
<message name="Content_AddLiveStream_OutputMessage">
<part element="tns:AddLiveStreamResponse" name="parameters"/>
</message>
<message name="Content_AddRecordingLiveStream_InputMessage">
<part element="tns:AddRecordingLiveStream" name="parameters"/>
</message>
<message name="Content_AddRecordingLiveStream_OutputMessage">
<part element="tns:AddRecordingLiveStreamResponse" name="parameters"/>
</message>
<message name="Content_AddVideoLiveStream_InputMessage">
<part element="tns:AddVideoLiveStream" name="parameters"/>
</message>
<message name="Content_AddVideoLiveStream_OutputMessage">
<part element="tns:AddVideoLiveStreamResponse" name="parameters"/>
</message>
<message name="Content_DownloadFile_InputMessage">
<part element="tns:DownloadFile" name="parameters"/>
</message>
<message name="Content_DownloadFile_OutputMessage">
<part element="tns:DownloadFileResponse" name="parameters"/>
</message>
<message name="Content_GetAlbumArt_InputMessage">
<part element="tns:GetAlbumArt" name="parameters"/>
</message>
<message name="Content_GetAlbumArt_OutputMessage">
<part element="tns:GetAlbumArtResponse" name="parameters"/>
</message>
<message name="Content_GetFile_InputMessage">
<part element="tns:GetFile" name="parameters"/>
</message>
<message name="Content_GetFile_OutputMessage">
<part element="tns:GetFileResponse" name="parameters"/>
</message>
<message name="Content_GetFileList_InputMessage">
<part element="tns:GetFileList" name="parameters"/>
</message>
<message name="Content_GetFileList_OutputMessage">
<part element="tns:GetFileListResponse" name="parameters"/>
</message>
<message name="Content_GetFilteredLiveStreamList_InputMessage">
<part element="tns:GetFilteredLiveStreamList" name="parameters"/>
</message>
<message name="Content_GetFilteredLiveStreamList_OutputMessage">
<part element="tns:GetFilteredLiveStreamListResponse" name="parameters"/>
</message>
<message name="Content_GetHash_InputMessage">
<part element="tns:GetHash" name="parameters"/>
</message>
<message name="Content_GetHash_OutputMessage">
<part element="tns:GetHashResponse" name="parameters"/>
</message>
<message name="Content_GetImageFile_InputMessage">
<part element="tns:GetImageFile" name="parameters"/>
</message>
<message name="Content_GetImageFile_OutputMessage">
<part element="tns:GetImageFileResponse" name="parameters"/>
</message>
<message name="Content_GetLiveStream_InputMessage">
<part element="tns:GetLiveStream" name="parameters"/>
</message>
<message name="Content_GetLiveStream_OutputMessage">
<part element="tns:GetLiveStreamResponse" name="parameters"/>
</message>
<message name="Content_GetLiveStreamList_InputMessage">
<part element="tns:GetLiveStreamList" name="parameters"/>
</message>
<message name="Content_GetLiveStreamList_OutputMessage">
<part element="tns:GetLiveStreamListResponse" name="parameters"/>
</message>
<message name="Content_GetMusic_InputMessage">
<part element="tns:GetMusic" name="parameters"/>
</message>
<message name="Content_GetMusic_OutputMessage">
<part element="tns:GetMusicResponse" name="parameters"/>
</message>
<message name="Content_GetPreviewImage_InputMessage">
<part element="tns:GetPreviewImage" name="parameters"/>
</message>
<message name="Content_GetPreviewImage_OutputMessage">
<part element="tns:GetPreviewImageResponse" name="parameters"/>
</message>
<message name="Content_GetProgramArtworkList_InputMessage">
<part element="tns:GetProgramArtworkList" name="parameters"/>
</message>
<message name="Content_GetProgramArtworkList_OutputMessage">
<part element="tns:GetProgramArtworkListResponse" name="parameters"/>
</message>
<message name="Content_GetRecording_InputMessage">
<part element="tns:GetRecording" name="parameters"/>
</message>
<message name="Content_GetRecording_OutputMessage">
<part element="tns:GetRecordingResponse" name="parameters"/>
</message>
<message name="Content_GetRecordingArtwork_InputMessage">
<part element="tns:GetRecordingArtwork" name="parameters"/>
</message>
<message name="Content_GetRecordingArtwork_OutputMessage">
<part element="tns:GetRecordingArtworkResponse" name="parameters"/>
</message>
<message name="Content_GetRecordingArtworkList_InputMessage">
<part element="tns:GetRecordingArtworkList" name="parameters"/>
</message>
<message name="Content_GetRecordingArtworkList_OutputMessage">
<part element="tns:GetRecordingArtworkListResponse" name="parameters"/>
</message>
<message name="Content_GetVideo_InputMessage">
<part element="tns:GetVideo" name="parameters"/>
</message>
<message name="Content_GetVideo_OutputMessage">
<part element="tns:GetVideoResponse" name="parameters"/>
</message>
<message name="Content_GetVideoArtwork_InputMessage">
<part element="tns:GetVideoArtwork" name="parameters"/>
</message>
<message name="Content_GetVideoArtwork_OutputMessage">
<part element="tns:GetVideoArtworkResponse" name="parameters"/>
</message>
<message name="Content_RemoveLiveStream_InputMessage">
<part element="tns:RemoveLiveStream" name="parameters"/>
</message>
<message name="Content_RemoveLiveStream_OutputMessage">
<part element="tns:RemoveLiveStreamResponse" name="parameters"/>
</message>
<message name="Content_StopLiveStream_InputMessage">
<part element="tns:StopLiveStream" name="parameters"/>
</message>
<message name="Content_StopLiveStream_OutputMessage">
<part element="tns:StopLiveStreamResponse" name="parameters"/>
</message>
<portType name="Content">
<operation name="AddLiveStream">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/AddLiveStream" message="tns:Content_AddLiveStream_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/AddLiveStreamResponse" message="tns:Content_AddLiveStream_OutputMessage"/>
</operation>
<operation name="AddRecordingLiveStream">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/AddRecordingLiveStream" message="tns:Content_AddRecordingLiveStream_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/AddRecordingLiveStreamResponse" message="tns:Content_AddRecordingLiveStream_OutputMessage"/>
</operation>
<operation name="AddVideoLiveStream">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/AddVideoLiveStream" message="tns:Content_AddVideoLiveStream_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/AddVideoLiveStreamResponse" message="tns:Content_AddVideoLiveStream_OutputMessage"/>
</operation>
<operation name="DownloadFile">
<documentation>POST </documentation>
<input wsaw:Action="http://mythtv.org/Content/DownloadFile" message="tns:Content_DownloadFile_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/DownloadFileResponse" message="tns:Content_DownloadFile_OutputMessage"/>
</operation>
<operation name="GetAlbumArt">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetAlbumArt" message="tns:Content_GetAlbumArt_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetAlbumArtResponse" message="tns:Content_GetAlbumArt_OutputMessage"/>
</operation>
<operation name="GetFile">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetFile" message="tns:Content_GetFile_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetFileResponse" message="tns:Content_GetFile_OutputMessage"/>
</operation>
<operation name="GetFileList">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetFileList" message="tns:Content_GetFileList_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetFileListResponse" message="tns:Content_GetFileList_OutputMessage"/>
</operation>
<operation name="GetFilteredLiveStreamList">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetFilteredLiveStreamList" message="tns:Content_GetFilteredLiveStreamList_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetFilteredLiveStreamListResponse" message="tns:Content_GetFilteredLiveStreamList_OutputMessage"/>
</operation>
<operation name="GetHash">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetHash" message="tns:Content_GetHash_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetHashResponse" message="tns:Content_GetHash_OutputMessage"/>
</operation>
<operation name="GetImageFile">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetImageFile" message="tns:Content_GetImageFile_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetImageFileResponse" message="tns:Content_GetImageFile_OutputMessage"/>
</operation>
<operation name="GetLiveStream">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetLiveStream" message="tns:Content_GetLiveStream_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetLiveStreamResponse" message="tns:Content_GetLiveStream_OutputMessage"/>
</operation>
<operation name="GetLiveStreamList">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetLiveStreamList" message="tns:Content_GetLiveStreamList_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetLiveStreamListResponse" message="tns:Content_GetLiveStreamList_OutputMessage"/>
</operation>
<operation name="GetMusic">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetMusic" message="tns:Content_GetMusic_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetMusicResponse" message="tns:Content_GetMusic_OutputMessage"/>
</operation>
<operation name="GetPreviewImage">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetPreviewImage" message="tns:Content_GetPreviewImage_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetPreviewImageResponse" message="tns:Content_GetPreviewImage_OutputMessage"/>
</operation>
<operation name="GetProgramArtworkList">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetProgramArtworkList" message="tns:Content_GetProgramArtworkList_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetProgramArtworkListResponse" message="tns:Content_GetProgramArtworkList_OutputMessage"/>
</operation>
<operation name="GetRecording">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetRecording" message="tns:Content_GetRecording_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetRecordingResponse" message="tns:Content_GetRecording_OutputMessage"/>
</operation>
<operation name="GetRecordingArtwork">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetRecordingArtwork" message="tns:Content_GetRecordingArtwork_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetRecordingArtworkResponse" message="tns:Content_GetRecordingArtwork_OutputMessage"/>
</operation>
<operation name="GetRecordingArtworkList">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetRecordingArtworkList" message="tns:Content_GetRecordingArtworkList_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetRecordingArtworkListResponse" message="tns:Content_GetRecordingArtworkList_OutputMessage"/>
</operation>
<operation name="GetVideo">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetVideo" message="tns:Content_GetVideo_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetVideoResponse" message="tns:Content_GetVideo_OutputMessage"/>
</operation>
<operation name="GetVideoArtwork">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/GetVideoArtwork" message="tns:Content_GetVideoArtwork_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/GetVideoArtworkResponse" message="tns:Content_GetVideoArtwork_OutputMessage"/>
</operation>
<operation name="RemoveLiveStream">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/RemoveLiveStream" message="tns:Content_RemoveLiveStream_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/RemoveLiveStreamResponse" message="tns:Content_RemoveLiveStream_OutputMessage"/>
</operation>
<operation name="StopLiveStream">
<documentation>GET </documentation>
<input wsaw:Action="http://mythtv.org/Content/StopLiveStream" message="tns:Content_StopLiveStream_InputMessage"/>
<output wsaw:Action="http://mythtv.org/Content/StopLiveStreamResponse" message="tns:Content_StopLiveStream_OutputMessage"/>
</operation>
</portType>
<binding type="tns:Content" name="BasicHttpBinding_Content">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="AddLiveStream">
<soap:operation soapAction="http://mythtv.org/Content/AddLiveStream" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddRecordingLiveStream">
<soap:operation soapAction="http://mythtv.org/Content/AddRecordingLiveStream" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddVideoLiveStream">
<soap:operation soapAction="http://mythtv.org/Content/AddVideoLiveStream" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DownloadFile">
<soap:operation soapAction="http://mythtv.org/Content/DownloadFile" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAlbumArt">
<soap:operation soapAction="http://mythtv.org/Content/GetAlbumArt" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetFile">
<soap:operation soapAction="http://mythtv.org/Content/GetFile" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetFileList">
<soap:operation soapAction="http://mythtv.org/Content/GetFileList" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetFilteredLiveStreamList">
<soap:operation soapAction="http://mythtv.org/Content/GetFilteredLiveStreamList" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetHash">
<soap:operation soapAction="http://mythtv.org/Content/GetHash" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetImageFile">
<soap:operation soapAction="http://mythtv.org/Content/GetImageFile" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetLiveStream">
<soap:operation soapAction="http://mythtv.org/Content/GetLiveStream" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetLiveStreamList">
<soap:operation soapAction="http://mythtv.org/Content/GetLiveStreamList" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetMusic">
<soap:operation soapAction="http://mythtv.org/Content/GetMusic" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetPreviewImage">
<soap:operation soapAction="http://mythtv.org/Content/GetPreviewImage" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetProgramArtworkList">
<soap:operation soapAction="http://mythtv.org/Content/GetProgramArtworkList" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetRecording">
<soap:operation soapAction="http://mythtv.org/Content/GetRecording" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetRecordingArtwork">
<soap:operation soapAction="http://mythtv.org/Content/GetRecordingArtwork" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetRecordingArtworkList">
<soap:operation soapAction="http://mythtv.org/Content/GetRecordingArtworkList" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetVideo">
<soap:operation soapAction="http://mythtv.org/Content/GetVideo" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetVideoArtwork">
<soap:operation soapAction="http://mythtv.org/Content/GetVideoArtwork" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RemoveLiveStream">
<soap:operation soapAction="http://mythtv.org/Content/RemoveLiveStream" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="StopLiveStream">
<soap:operation soapAction="http://mythtv.org/Content/StopLiveStream" style="document"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ContentServices">
<documentation>Interface Version 1.32 - </documentation>
<port binding="tns:BasicHttpBinding_Content" name="BasicHttpBinding_Content">
<soap:address location="http://localhost:6544/Content"/>
</port>
</service>
</definitions>
