http/src/main/wsdl/0.25/ProgramGuide.xsd

<?xml-stylesheet type="text/xsl" href="/xslt/class.xslt"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org" attributeFormDefault="unqualified" xmlns:tns="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="ArrayOfChannelInfo.xsd"/>
<xs:complexType name="ProgramGuide">
<xs:sequence>
<xs:element minOccurs="0" type="xs:dateTime" nillable="1" name="StartTime"/>
<xs:element minOccurs="0" type="xs:dateTime" nillable="1" name="EndTime"/>
<xs:element minOccurs="0" type="xs:int" name="StartChanId"/>
<xs:element minOccurs="0" type="xs:int" name="EndChanId"/>
<xs:element minOccurs="0" type="xs:int" name="NumOfChannels"/>
<xs:element minOccurs="0" type="xs:boolean" name="Details"/>
<xs:element minOccurs="0" type="xs:int" name="Count"/>
<xs:element minOccurs="0" type="xs:dateTime" nillable="1" name="AsOf"/>
<xs:element minOccurs="0" type="xs:string" name="Version"/>
<xs:element minOccurs="0" type="xs:string" name="ProtoVer"/>
<xs:element minOccurs="0" type="tns:ArrayOfChannelInfo" name="Channels"/>
</xs:sequence>
</xs:complexType>
<xs:element type="tns:ProgramGuide" nillable="true" name="ProgramGuide"/>
</xs:schema>
