http/src/main/wsdl/0.25/TimeZoneInfo.xsd

<?xml-stylesheet type="text/xsl" href="/xslt/class.xslt"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org" attributeFormDefault="unqualified" xmlns:tns="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="TimeZoneInfo">
<xs:sequence>
<xs:element minOccurs="0" type="xs:string" name="TimeZoneID"/>
<xs:element minOccurs="0" type="xs:int" name="UTCOffset"/>
<xs:element minOccurs="0" type="xs:dateTime" nillable="1" name="CurrentDateTime"/>
</xs:sequence>
</xs:complexType>
<xs:element type="tns:TimeZoneInfo" nillable="true" name="TimeZoneInfo"/>
</xs:schema>
