http/src/main/resources/org/syphr/mythtv/http/frontend/wsdl/_0_25/MapOfStringString.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org" attributeFormDefault="unqualified" xmlns:tns="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="MapOfStringString">
<xs:annotation>
<xs:appinfo>
<IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
</xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="String">
<xs:complexType>
<xs:sequence>
<xs:element type="xs:string" nillable="true" name="Key"/>
<xs:element type="xs:string" nillable="true" name="Value"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:element type="tns:MapOfStringString" nillable="true" name="MapOfStringString"/>
</xs:schema>
