http/src/main/resources/org/syphr/mythtv/http/backend/wsdl/_0_25/RecRuleList.xsd

<?xml-stylesheet type="text/xsl" href="/xslt/class.xslt"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org" attributeFormDefault="unqualified" xmlns:tns="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="ArrayOfRecRule.xsd"/>
<xs:complexType name="RecRuleList">
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="StartIndex"/>
<xs:element minOccurs="0" type="xs:int" name="Count"/>
<xs:element minOccurs="0" type="xs:int" name="TotalAvailable"/>
<xs:element minOccurs="0" type="xs:dateTime" nillable="1" name="AsOf"/>
<xs:element minOccurs="0" type="xs:string" name="Version"/>
<xs:element minOccurs="0" type="xs:string" name="ProtoVer"/>
<xs:element minOccurs="0" type="tns:ArrayOfRecRule" name="RecRules"/>
</xs:sequence>
</xs:complexType>
<xs:element type="tns:RecRuleList" nillable="true" name="RecRuleList"/>
</xs:schema>
