http/src/main/resources/org/syphr/mythtv/http/backend/wsdl/_0_25/StorageGroupDir.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org" attributeFormDefault="unqualified" xmlns:tns="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="StorageGroupDir">
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="Id"/>
<xs:element minOccurs="0" type="xs:string" name="GroupName"/>
<xs:element minOccurs="0" type="xs:string" name="HostName"/>
<xs:element minOccurs="0" type="xs:string" name="DirName"/>
</xs:sequence>
</xs:complexType>
<xs:element type="tns:StorageGroupDir" nillable="true" name="StorageGroupDir"/>
</xs:schema>
