http/src/main/resources/org/syphr/mythtv/http/backend/wsdl/_0_25/VideoLookupList.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org" attributeFormDefault="unqualified" xmlns:tns="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="ArrayOfVideoLookup.xsd"/>
<xs:complexType name="VideoLookupList">
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="Count"/>
<xs:element minOccurs="0" type="xs:dateTime" nillable="1" name="AsOf"/>
<xs:element minOccurs="0" type="xs:string" name="Version"/>
<xs:element minOccurs="0" type="xs:string" name="ProtoVer"/>
<xs:element minOccurs="0" type="tns:ArrayOfVideoLookup" name="VideoLookups"/>
</xs:sequence>
</xs:complexType>
<xs:element type="tns:VideoLookupList" nillable="true" name="VideoLookupList"/>
</xs:schema>
