http/src/main/resources/org/syphr/mythtv/http/backend/wsdl/_0_25/VideoMetadataInfoList.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://mythtv.org" attributeFormDefault="unqualified" xmlns:tns="http://mythtv.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="ArrayOfVideoMetadataInfo.xsd"/>
<xs:complexType name="VideoMetadataInfoList">
<xs:sequence>
<xs:element minOccurs="0" type="xs:int" name="StartIndex"/>
<xs:element minOccurs="0" type="xs:int" name="Count"/>
<xs:element minOccurs="0" type="xs:int" name="CurrentPage"/>
<xs:element minOccurs="0" type="xs:int" name="TotalPages"/>
<xs:element minOccurs="0" type="xs:int" name="TotalAvailable"/>
<xs:element minOccurs="0" type="xs:dateTime" nillable="1" name="AsOf"/>
<xs:element minOccurs="0" type="xs:string" name="Version"/>
<xs:element minOccurs="0" type="xs:string" name="ProtoVer"/>
<xs:element minOccurs="0" type="tns:ArrayOfVideoMetadataInfo" name="VideoMetadataInfos"/>
</xs:sequence>
</xs:complexType>
<xs:element type="tns:VideoMetadataInfoList" nillable="true" name="VideoMetadataInfoList"/>
</xs:schema>
